body {
    margin: 0;
    padding: 0;
    
    /* Gradiente escuro semi-transparente (0.8) EM CIMA da imagem */
    background-image: 
        linear-gradient(rgba(12, 16, 33, 0.65), rgba(12, 16, 33, 0.65)),
        url('/img/background/Gemini_Generated_Image_1ihfwu1ihfwu1ihf.png');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    color: #ecf0f1; /* Cor do texto clara */
}

/* Fonte */
/* Aplica a fonte elegante nos Títulos e na Marca */
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Playfair Display', serif; /* A fonte igual da imagem */
    font-weight: 700; /* Negrito para destaque */
    letter-spacing: 1px; /* Um leve espaçamento fica chique */
}

    p, a, button, span {
        font-family: 'Lato', sans-serif; /* Fonte neutra para leitura fácil */
        font-weight: 400;
        
    }

.carrossel {
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da tela */
    padding: 0; /* Remove padding anterior */
    margin: 0;  /* Remove margem anterior */
}

    /* Força o slide a ter a altura total */
    .carousel-item {
        height: 99vh;
        background-color: #000; /* Cor de fundo enquanto carrega */
    }

    /* Ajuste específico para ficar igual à sua identidade visual */
    .carousel-caption h5 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5rem; /* Bem grande */
        font-style: italic; /* Opcional: O itálico dessa fonte é lindo */
    }
/*------*/

.transparente{
    position: absolute;
    width: 100%;
    z-index: 1;

    color: white;
    
    background: rgba(12, 16, 33, 0.15);
}

    #sem_marcacao{

        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 10px;
        padding-left: 5px;

        text-decoration: none;
        list-style-type:none;
        
    }

        #sem_marcacao li{
            margin-left: 15px;
        }

/*------*/


.page-header{
    /*Deixa sempre fixada no topo*/
    position: relative; 
}

.rd-navbar-wrap{
    /*Efeito de script, de transição*/
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.icone{
    width: 100%;
    max-width: 25px;
}

/* ------------------------ FOOTER ----------------------------------*/

h1,h2,h3,h4,h5,h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh;*/
}
/*
.btn {
    padding: 14px 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
    .red-btn {
        background: #ed1b24;
        border: 2px solid #ed1b24;
        color: #fff;
    }

    .red-btn:hover{
        background: #1c376c;
        color: #fff;
        border-color: #ffffff;
    }*/

/*---------footer---------*/
footer {
    background-color: #222023;
    background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
    background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
    background-image: -o-linear-gradient( top, #222023, #1e2c47 );
    background-image: linear-gradient( to bottom, #222023, #1e2c47 );
    color: #fff;
    padding: 50px 0; /*220*/
    font-size: 17px;
}
    footer h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    footer h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 2px;
    }
    .about-footer li i {
        position: absolute;
        left: 0;
    }
    .about-footer li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 40px;
    }

    .about-footer ul {
        margin-top: 40px;
    }

    footer a {

        color: #fff;
        text-decoration: none;

    }

        footer a:hover {
            color: #CD9F60;
        }

    .footer-title {
        border-bottom: 2px solid #EDD690;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }

    ul.footer-social {
        float: right;
    }

    ul.footer-social li {
        display: inline;
        margin-right: 16px;
    }

    ul.footer-social i {
        width: 30px;
        height: 30px;
        background: #fff;
        color: #222025;
        text-align: center;
        line-height: 30px;
        border-radius: 30px;
        font-size: 16px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-weight: 800;
    }

    ul.footer-social li:last-child {
        margin-right: 0px;
    }

    ul.footer-social i:hover {
        background: #CD9F60;
        color: #fff;
    }

    .page-more-info li {
        margin-bottom: 31px;
    }

    footer .table td:first-child {
        /*font-weight: 600;*/
        padding-left: 33px;
    }

    footer .table td:last-child {text-align: right;}
    footer .table td {
        padding: 0px;
        border: 0;

        color: #CD9F60;
    }

    /* footer .table tr {
    } */

    footer .table td i {
        position: absolute;
        left: 0px;
        font-size: 21px;
        top: 6px;
    }

    footer .table td {
        position: relative;
        padding: 4px 0;
    }
    .footer-logo td {
        padding-right: 4px !important;
    }

    .footer-logo td:last-child {
        padding-right: 0px !important;
    }

    footer hr {
        border-color: #9294a0;
    }

    .footer-bottom {
        margin-top: 30px;
        /* border: 1px solid #ecf0f1; */
    }

        .footer-bottom p{
            /*text-align: right;*/
            text-align: center;
            /* border: 1px solid #ecf0f1; */
        }

    .open-hours hr {
        margin: 30px 0;
    }

    #alinhando_no_centro{
        display: flex;
        align-items: center;
        justify-content: center;
    }





/*--------------------------------------------------------------------*/
/* Responsividade */

/* 4. Ajuste para Celular */
@media (max-width: 768px) {
    .carousel-item img {
        height: 350px;
    }
    .carrossel {
        margin-top: 20px;
        width: 95%; /* Ocupa quase toda a largura no celular */
    }
}
