body {
    margin: 0;
    padding: 0;

    /* Fonte */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Lato', sans-serif;

    background: radial-gradient(circle at top center, #060A1E 50%, #02030A 100%);
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
    min-height: 100vh;
    /* margin: 0; */
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
}

    article img{
        width: 50%;
    }

/* Fonte */
/* Aplica a fonte elegante nos Títulos e na Marca */
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Playfair Display', serif; /* A fonte igual da imagem */
    font-weight: 700; /* Negrito para destaque */
    letter-spacing: 1px; /* Um leve espaçamento fica chique */
}

    p, a, button, span {
        font-family: 'Lato', sans-serif; /* Fonte neutra para leitura fácil */
        font-weight: 400;
        
    }


/*------*/

.transparente{
    position: absolute;
    width: 100%;
    z-index: 1;

    color: white;
    font-size: 18px;
    
    background: rgba(50, 50, 1, 0.36);
}

    #sem_marcacao{

        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 10px;
        padding-left: 5px;

        text-decoration: none;
        list-style-type:none;
        
    }

        #sem_marcacao li{
            margin-left: 15px;
        }

             #sem_marcacao li a{
                text-decoration: none;
                color: white;
            }

                #sem_marcacao li a:hover{
                    color: #CD9F60;
                }

/*------*/


.page-header{
    /*Deixa sempre fixada no topo*/
    position: relative; 
}

.rd-navbar-wrap{
    /*Efeito de script, de transição*/
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.icone{
    width: 100%;
    max-width: 25px;
}

/* --- info na página do nome Contato--*/

section h1{
    margin: 0 auto;
    color: #CD9F60;    
}

    .tag_do_meio{
        display: flex;
        align-items: center;
        justify-content: space-between;

        border: 1px solid yellow;
    }

        .tag_do_meio hr{
            border: 1px solid yellow;
        }


/* ---- Main: Email e texto ---- */

main{
    display: flex;
    align-items: center;
    justify-items: center; 
    
    margin-top: 80px;
    color: white;

    /* border: 1px solid yellow; */
}

    main section{
        
        margin: 0 auto;

        width: 100%;
        max-width: 400px;

        /* border: 1px solid yellow; */

    }


/* ------------------------ FOOTER ----------------------------------*/

h1,h2,h3,h4,h5,h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    /* min-height: 100vh; */
}


/*---------footer---------*/
footer {
    background-color: #222023;
    background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
    background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
    background-image: -o-linear-gradient( top, #222023, #1e2c47 );
    background-image: linear-gradient( to bottom, #222023, #1e2c47 );
    color: #fff;
    padding: 50px 0; /*220*/
    font-size: 17px;

    /*Ideia de esconde a imagem,caso não consiga parar no footer 22/12/2025 */
    /* position: relative;
    z-index: 10; */
}
    footer h3 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    footer h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 2px;
    }
    .about-footer li i {
        position: absolute;
        left: 0;
    }
    .about-footer li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 40px;
    }

    .about-footer ul {
        margin-top: 40px;
    }

    footer a {

        color: #fff;
        text-decoration: none;

    }

        footer a:hover {
            color: #CD9F60;
        }

    .footer-title {
        border-bottom: 2px solid #EDD690;
        padding-bottom: 25px;
        margin-bottom: 35px;
    }

    ul.footer-social {
        float: right;
    }

    ul.footer-social li {
        display: inline;
        margin-right: 16px;
    }

    ul.footer-social i {
        width: 30px;
        height: 30px;
        background: #fff;
        color: #222025;
        text-align: center;
        line-height: 30px;
        border-radius: 30px;
        font-size: 16px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-weight: 800;
    }

    ul.footer-social li:last-child {
        margin-right: 0px;
    }

    ul.footer-social i:hover {
        background: #CD9F60;
        color: #fff;
    }

    .page-more-info li {
        margin-bottom: 31px;
    }

    footer .table td:first-child {
        /*font-weight: 600;*/
        padding-left: 33px;
    }

    footer .table td:last-child {text-align: right;}
    footer .table td {
        padding: 0px;
        border: 0;

        color: #CD9F60;
    }

    /* footer .table tr {
    } */

    footer .table td i {
        position: absolute;
        left: 0px;
        font-size: 21px;
        top: 6px;
    }

    footer .table td {
        position: relative;
        padding: 4px 0;
    }
    .footer-logo td {
        padding-right: 4px !important;
    }

    .footer-logo td:last-child {
        padding-right: 0px !important;
    }

    footer hr {
        border-color: #9294a0;
    }

    .footer-bottom {
        margin-top: 30px;
        /* border: 1px solid #ecf0f1; */
    }

        .footer-bottom p{
            /*text-align: right;*/
            text-align: center;
            /* border: 1px solid #ecf0f1; */
        }

    .open-hours hr {
        margin: 30px 0;
    }

    #alinhando_no_centro{
        display: flex;
        align-items: center;
        justify-content: center;
    }





/*--------------------------------------------------------------------*/
/* Responsividade */

/* 4. Ajuste para Celular */
@media (max-width: 768px) {
    .carousel-item img {
        height: 350px;
    }
    .carrossel {
        margin-top: 20px;
        width: 95%; /* Ocupa quase toda a largura no celular */
    }
}
